select {
    color: white;
    cursor: pointer;
    outline: 0;
    margin: 15px 7px 15px 15px;
    background: transparent;
    min-width: 125px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid white;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

span {
    color: white;
    margin-top: 23px;
    margin-right: -10px;
    font-size: 16px;
}

.main-container {
    top: 22%;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

p {
    color: white;
    margin-left: 200px;
}