body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #5b1249;
}

.ng-colombia {
    display: block;
    max-width: 10vw;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1;
}